/* Variables */
$border-color: #e5e5e5;

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.mobile-padding {
  padding-right: 15px;
  padding-left: 15px;
}


/* Custom page header */
.header {
  @extend .mobile-padding;
  border-bottom: 1px solid $border-color;
  h3 {
    padding-bottom: 9px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }

  nav {
    li {
      a {
        padding: 5px 15px;
      }
    }
  }
}


/* Custom page footer */
.footer {
  @extend .mobile-padding;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid $border-color;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 800px;
  }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .no-mobile-padding {
    padding-right: 0;
    padding-left: 0;
  }

  /* Remove the padding we set earlier */
  .footer {
    @extend .no-mobile-padding;
  }
  /* Space out the masthead */
  .header {
    @extend .no-mobile-padding;
    margin-bottom: 30px;
  }
}
