/* Variables */
$header-background: #eeeeee;
$border-color: #eeeeee;

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything gets side spacing for mobile first views */
.mobile-margin {
  margin-right: 15px;
  margin-left: 15px;
  min-width: 250px;
}


/* Custom page header */
.header {
  @extend .mobile-margin;
  background-color: $header-background;
  padding: 20px 10px;
  margin-bottom: 20px;
  nav {
    li {
      a {
        padding: 5px 15px;
      }
    }
    clear: right;
  }
  
  img {
    width: 200px;
    height: 50px;
  }
}


/* Custom page footer */
.footer {
  @extend .mobile-margin;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid $border-color;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .no-mobile-margin {
    margin-right: 0;
    margin-left: 0;
  }

  /* Remove the padding we set earlier */
  .footer {
    @extend .no-mobile-margin;
  }
  /* Space out the masthead */
  .header {
    @extend .no-mobile-margin;
  }
}
