/* Import partial */
@import 'base';
$float-spacing: 15px;


/* Search results */
.result-list {
  margin: 20px 0;
  .content-thumbnail {
    width: 60px;
    height: 80px;
  }
  li {
    margin-top: 25px;
  }
}

#contentDetail {
  .content-thumbnail {
    margin-right: $float-spacing;
    margin-bottom: $float-spacing;
  }
  .content-summary {
    margin-left: $float-spacing;
    margin-bottom: $float-spacing;
  }
}

.page-content {
  @extend .mobile-margin;
}

#salutation {
  margin-bottom: 5px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .page-content {
    @extend .no-mobile-margin;
  }
}