<div id="contentDetail" ng-if="!item">
  <p class="text-center">You do not have any saved or cached content</p>
</div>

<div id="contentDetail" ng-if="item">
  <div class="clearfix">
    <a ng-href="{{item.contentLink}}">
      <img class="pull-left thumbnail content-thumbnail" ng-src="{{item.thumbnailLink}}">
    </a>
    <small class="pull-right content-summary">
      <i class='fa' ng-class="{'fa-star-o': r == 'empty', 'fa-star-half-empty': r == 'half', 'fa-star': r == 'full'}" 
        ng-repeat="r in item.rating track by $index"/><br/>
      {{item.categories}}<br/>
      Pages: {{item.pageCount}}<br/>
      <span ng-if="!item.commentApp.unsaved">Last updated: {{item.updatedAt | date: 'short'}}</span>
    </small>
    <h4 ng-if="item.commentApp.unsaved">{{item.title}}</h4>
    <div ng-if="!item.commentApp.unsaved">
      <h4 ng-show="!item.commentApp.editMode" ng-focus="item.commentApp.showEdit = true" ng-blur="item.commentApp.showEdit = false"
      ng-mouseover="item.commentApp.showEdit = true" ng-mouseleave="item.commentApp.showEdit=false" tabindex="0">{{item.title}}
      <small><span ng-click="item.commentApp.editMode = true" ng-show="item.commentApp.showEdit" 
        class="glyphicon glyphicon-edit"></span></small></h4>
      <p><input type="text" ng-show="item.commentApp.editMode" ng-model="item.title" ng-blur="save()" 
        ng-keypress="($event.which == 13)?save():''" size="30"/></p>
     </div>   
    <small><strong>By {{item.authors}} </strong>({{item.publishedBy}}, {{item.publishedDate | date:'yyyy'}})</small></p>
    <p class="text-justify" ng-bind-html="item.description"></p>
  </div>
  <div ng-if="!item.commentApp.unsaved" class="panel panel-default">
    <div class="panel-heading">Comments</div>
    <div class="panel-body">
      <p class="text-center" ng-if="!item.comments.length">There are no comments for this item.</p>
      <ul ng-if="item.comments.length" class="media-list" >
        <li  ng-repeat="comment in item.comments" class="media">
          <div class="media-left">
            <img class="media-object user-thumbnail" ng-src="{{comment.userImageUrl}}" alt="user thumbnail">
          </div>
          <div class="media-body">
              <h5 class="media-heading"><strong>{{comment.username}}</strong> <br/>
              <small>{{comment.createdAt | date:'short'}}</small>
              </h5>
            <pre class="comment-text"> {{comment.content}}</pre>
          </div>
        </li>
        </ul>
        <div ng-show="item.commentApp.commentEditMode" class="media">
          <div class="media-left">
            <img class="media-object user-thumbnail" ng-src="{{item.commentApp.comment.userImageUrl}}" alt="user thumbnail">
          </div>
          <div class="media-body">
            <h5 class="media-heading"><strong>{{item.commentApp.comment.username}}</strong></h5>
            <textarea class="form-control" style="width:100%;" rows="5" ng-model="item.commentApp.comment.content"> </textarea>
            <br/>
            <div class="toolbar pull-right"> 
              <button class="btn btn-sm btn-success" ng-disabled="!item.commentApp.comment.content" ng-click="saveComment()">Save</button>
              <button class="btn btn-sm btn-success" ng-click="cancelCommentEdit()">Cancel</button>
             </div>
          </div>
        </div>
    </div>
  </div>
  <div class="toolbar pull-right">
    <button class="btn btn-sm btn-success" ng-click="startCommentEdit()"
      ng-if="!item.commentApp.unsaved" ng-show="!item.commentApp.commentEditMode">Add Comment</button>        
    <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#{{shareDialogId}}"
      ng-if="!item.commentApp.unsaved" ng-show="!item.commentApp.commentEditMode && !item.commentApp.editMode">Share</button>        
    <button ng-if="item.commentApp.unsaved" class="btn btn-sm btn-success" ng-click="save()">Save</button>
  </div>
</div>
<div ng-include="'partials/share-dialog.html'" ng-controller="shareDialogController"></div>