<div class="row">
  <div class="col-md-3">
    <form ng-submit="searchContent()" >
      <div class="form-group" >
        <label class="sr-only" for="contentSearchText">Search content</label>
        <div class="input-group">
          <input type="text" id="contentSearchText" class="form-control" placeholder="Search" ng-model="query">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" ><span class="glyphicon glyphicon-search" /></button>
          </span>
        </div>
      </div>
    </form>
    <div ng-include="'partials/content-list.html'"></div>
  </div>
  <div class="col-md-9">
    <div ng-include="'partials/content-details.html'"></div>
  </div>
</div>
