<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active"><a href="#">Books</a></li>
      <li role="presentation"><a href="#">Movies</a></li>
    </ul>
  </div>
  <div class="col-md-8">
    <div id="contentDetail" ng-cloak>
      <a ng-href="{{item.contentLink}}">
        <img class="pull-left thumbnail content-thumbnail" ng-src="{{item.thumbnailLink}}">
      </a>
      <small class="pull-right content-summary">
        <i class='fa' ng-class="{'fa-star-o': r == 'empty', 'fa-star-half-empty': r == 'half', 'fa-star': r == 'full'}" 
          ng-repeat="r in item.rating track by $index"/><br/>
        <span>{{item.categories}}</span><br/>
        <span>Pages: {{item.pageCount}}</span>
      </small>
      <h4>{{item.title}}</h4>
      <small><strong>By {{item.authors}} </strong>({{item.publishedBy}}, {{item.publishedDate | date:'yyyy'}})</small></p>
      <p class="text-justify" ng-bind-html="item.description"></p>
      <br/>
      <div class="panel panel-default">
        <div class="panel-heading">Comments</div>
        <div class="panel-body">
          <ul class="media-list" >
            <li class="media">
              <div class="media-left">
                <img class="media-object" src="..." alt="...">
              </div>
              <div class="media-body">
                <h4 class="media-heading">Me</h4>
                <p> First Comment</p>
              </div>
            </li>
            <li class="media">
              <div class="media-left">
                <img class="media-object" src="..." alt="...">
              </div>
              <div class="media-body">
                <h4 class="media-heading">Me</h4>
                <p> Second comment </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="toolbar pull-right">
        <button class="btn btn-sm btn-success">Save</button>
        <button class="btn btn-sm btn-success">Share</button>
        <button class="btn btn-sm btn-success">Add Comment</button>        
      </div>
  </div>
  <div class="col-md-2">
  </div>
</div>