<!doctype html>
<html lang="en">
<head>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title> Comment </title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body ng-app="commentApp">
  <div class="container" ng-controller="mainController">
    <div class="header row" ng-show="user.signedIn">
      <div class="col-md-6">
        <img src="images/logo.png"  />
      </div>
      <div class="col-md-6">
      <div class="pull-right">
        <div id="salutation">  
          <div class="text-muted"> Welcome <strong>{{user.profile.name}} </strong> &emsp; 
            <button class="btn btn-xs btn-danger" ng-click="signout()">Signout</button></div>
        </div>      
      </div>
      <nav class="pull-right">
        <ul class="nav nav-pills">
          <li role="presentation" ng-class="{'active': menuItem == 'search'}" ng-click="menuItem = 'search'"><a href="#/search">Home</a></li>
          <li role="presentation" ng-class="{'active': menuItem == 'my-content'}" ng-click="menuItem = 'my-content'"><a href="#/my-content">My Content</a></li>
          <li role="presentation" ng-class="{'active': menuItem == 'about'}" ng-click="menuItem = 'about'"><a href="#">About</a></li>
        </ul>
      </nav>
      </div>
    </div>
    
    <div class="page-content" ng-view>  
    </div>
    
    <footer class="footer" ng-show="user.signedIn">
      <p>&copy; Ekavali 2015</p>
    </footer>

  </div> <!-- /container -->
      
  <!-- scripts -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="https://apis.google.com/js/client:platform.js"></script>
  
  <!-- local scripts -->
  <script src="scripts/services/main.js"></script>
  <script src="scripts/directives/main.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/my-content.js"></script>
  <script src="scripts/controllers/login.js"></script>
  <script src="scripts/app.js"></script>
 </body>
</html>